.listado-servicios {
    @include tablet {
        @include grid(2, 2rem);
    }
    .servicio {    
        margin-bottom: $separacion / 2 ;
        background-color:$blanco;
        padding: $separacion / 2;
        border-radius: 1rem;

        @include tablet {
            margin-bottom: 0;
        }
        p {
            margin: 0 0 $separacion / 4 0;
        }

        .nombre-servicio {
            color: $negro;
        }

        .precio-servicio{
            color: $azul;
            margin: 0;
            font-size: 2.5rem;
            font-weight: $bold;
        }

        &.seleccionado {
            background-color: $azul;
            p {
                color: $blanco;
            }
        }
        
    }
    .servicio:hover {
        cursor: pointer;
    }
}
